table {
    thead {
        border-bottom: 1px solid #3d3d3d;
        
    }
    th {
        padding-left: 10px;
        text-align: left;
        // border-right: 1px solid #3d3d3d;
    }
    
    td {
        text-align: left;
    }
}